<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Welcome to MDT Samples Tool</h1>
    <p>This application will help you to create samples and JSON configuration
      files for AMP iOS SDK and AMP Android SDK.</p>
    <p>There are 4 basic Areas:</p>
    <p>
      <ul>
        <li><b>Sample Creation:</b> In this are you will create a customer sample.</li>
        <li><b>Configuration File Creation:</b> In this are you will create a configuration file and assign it to a sample</li>
        <li><b>Module Creation</b> In this are you will create a new AMP Module to add on the configuration sample</li>
        <li><b>Delete Sample:</b> Delete a old or invalid sample.</li>
      </ul>
    </p>
    <p>Bugs or comments: <%= mail_to "dcortess@akamai.com", "dcortess@akamai.com" %></p>
  </div>
</div>
